.NewSchedulePeriodButton {
    padding: 12px 0 12px 20px;
    font-size: 1.2rem;
    background-color: #8BACBD;
    width: 50%;
    margin: 15px auto;
    text-align: center;
    border-radius: 15px;
}

.NewSchedulePeriodButton:hover {    
    background-color: rgb(105, 130, 143);
}
