.InfoSection {
    display: flex;
    border-bottom: 2px solid rgb(165, 165, 165);
}

.InfoSection .boxart {
    flex-basis: 300px;
    margin: 0 15px;
}

.InfoSection .boxart img {
    width: 275px;
}

.InfoSection .details {
    flex-grow: 1;
    h1 {
        margin: 0;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 3rem;
    }
}