.SessionSection {
    padding: 15px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.SessionSection h1 {
    margin: 0;
    font-size: 1.8rem;
    text-align: center;
}

.buttonSection {
    text-align: center;
}