.Tooltip {
    font-family: Arial, Helvetica, sans-serif !important;
    visibility: hidden;
    width: 140px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.7s;
    font-size: 14px;
}

.NewNodeButton:hover .Tooltip {
    visibility: visible;
    opacity: 1;
  }

  
.NewNodeButton:hover .Tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
  }