.Review {
    margin: 15px;
}

.Review h1 {
    margin: 0;
    font-size: 1.8rem;
    text-align: center;
}

.Review .Stars {
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: middle;
}

.Review .date {
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 10px;
}

.Review .title {
    font-weight: bold;
    margin-left: 20px;
}

.Review .reviewText {
    font-size: 0.9rem;
    padding: 10px;
}

.Review:not(:first-of-type) {
    padding-top: 20px;
    border-top: 1px dashed rgb(194, 194, 194);
}

.reviewHeader {
    padding: 10px;
}