.NewNodeButton {
    position: relative;
    text-align: center;
    display: inline-block;
    background-color: #8BACBD;
    width: 90px;
    height: 90px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.NewNodeButton:hover {
    background-color: rgb(105, 130, 143);
}

.NewNodeButton i {
    font-size: 55px;
    color: rgba(0, 0, 0, 0.75);
    margin: 5px 0 6px 0;
}

.NewNodeButton p {
    margin: 0;
    font-family: 'Podkova', serif;
    font-size: 19px;
    text-align: center;
}