.Contributor {
    font-size: 1rem;
}

.Contributor .itemName:hover {
    background-color: #e6e6e6;
}

.Contributor .relationName {
    display: inline-block;
    text-align: left;
    width: 150px;
}

.Contributor i {
}

.Contributor .itemName {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    padding: 5px;
}