@import './assets/colors.css';


.nav-tab, .nav-tab:visited { 
  display: inline-block;
  background-color: #E1E1E1;
  color: var(--black75);   
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Podkova', serif;
  text-align: center;
  position: relative;
  list-style: none;
  min-width: 80px;
  padding: 4px 13px;
  cursor: pointer;
  border-radius: 15px 15px 0 0;
  margin: 0 2px 0 2px;
}

.nav-tab:first-of-type  {
  margin-left: 0;
}

.nav-tab.active {
  background-color: #f7f7f7;
  color: black;
  border-radius: 15px 15px 0 0;
}

.appBody {
    margin: 0 15px 15px 15px;
  }
  
  .page {
    background-color: #f7f7f7;
    min-height: 800px;
  }