.SchedulePeriod {
    padding: 12px 0 12px 20px;
    font-size: 1.2rem;
    border-bottom: 1px dashed rgb(194, 194, 194);

    .stars {
        font-size: 0.7rem;
        margin-left: 10px;
    }
}

.SchedulePeriod:hover {
    padding: 12px 0 12px 20px;
    font-size: 1.2rem;
    border-bottom: 1px dashed rgb(194, 194, 194);
    background-color: #e6e6e6;
}

.SchedulePeriod .iconSection {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
}

.SchedulePeriod .timeSection {
    display: inline-block;
    font-weight: 600;
    margin-right: 25px;
}

.SchedulePeriod .nameSection {
    display: inline-block;
}

.finishSessionButton {
    padding: 6px;
    font-size: 0.75rem;
    background-color: var(--light-blue);
    margin: 0 20px;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.finishSessionButton:hover {
    background-color: var(--light-blue-hover);
}
