@import '../../assets/colors.css';

.SubsectionNewButton {
    padding: 6px;
    font-size: 1rem;
    background-color: var(--new-green);
    min-width: 25%;
    max-width: 480px;
    margin: 15px auto;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.SubsectionNewButton:hover {    
    background-color: var(--new-green-hover);
}
